---
import MathLayout from '../../layouts/MathLayout.astro';
import { getPath } from '../../utils/path';
import { t } from '../../utils/i18n';

const lang = 'zh';
---

<MathLayout title={t('common.title', lang)} lang={lang} currentPath="/zh/">
	<article>
		<h1>{t('common.title', lang)}</h1>
		<p>{t('home.welcome', lang)}</p>
		
		<h2>{t('home.about', lang)}</h2>
		<p>{t('home.about-desc', lang)}</p>
		
		<h2>内容导航</h2>
		<ul>
			<li><a href={getPath('/zh/getting-started')}>数学入门指南</a></li>
			<li><a href={getPath('/zh/university')}>大学数学学习</a></li>
		</ul>
	</article>
</MathLayout>

