---
import katex from 'katex';

const { formula = '', displayMode = false } = Astro.props;
const html = katex.renderToString(formula, {
	throwOnError: false,
	displayMode: displayMode,
});
---

{displayMode ? (
	<div class="latex-display">
		<span set:html={html} />
	</div>
) : (
	<span set:html={html} class="latex-inline" />
)}

<style>
	.latex-display {
		margin: 1.5em 0;
		text-align: center;
		overflow-x: auto;
		overflow-y: hidden;
	}

	.latex-inline {
		display: inline-block;
	}
</style>

