---
import MathLayout from '../../../layouts/MathLayout.astro';
const lang = 'en';
const currentPath = '/en/getting-started/high-school-books';
const title = 'Books I Read in High School';
---

<MathLayout {title} {lang} {currentPath}>
	<article>
		<h1>Books I Read in High School</h1>
		
		<p>Here I document the math books I read during high school and my learning insights.</p>
		
		<!-- Add the books you read in high school here -->
		
	</article>
</MathLayout>

